<div class="jumbotron">
  <h1 class="title"> 试中心 </h1>
  <p class="slogan">试中心-考试报名中心。
  <br>
  所有考试，只此一站。
  <br>
  欢迎报考。
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/exams">即刻启程</a></p>
</div>
