

<table class="table table-boldered">
  <thead>
    <tr>
      <td>考试</td>
      <td>发布时间</td>
    </tr>
  </thead>
  <% @exams.each do |exam| %>
  <tr>
    <td>
      <%= link_to(exam.title, exam_path(exam)) %>
    </td>

    <td>
      <%= exam.created_at %>
    </td>
  </tr>
  <% end %>
</table>
