<h1> <%= @exam.title %> </h1>

<p>
  <%= simple_format(@exam.description) %>

</p>
<div class="text-center">
  <%= link_to("信息提交", new_exam_resume_path(@exam), :style => "font-size: 30px; text-decoration:underline;") %>
</div>
